.creation-container {
    
    width: 100%;
    padding: 40px 80px;
}
.creation-form {
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    align-items: center;
    justify-items: center;
    .creation-input {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom:20px;
        span {
            margin-right: 20px;
        }
    }

    .help {
        cursor: pointer;
    }
}

.creation-submit {
    align-self: flex-end;
}

.creation-header {
    text-align: left;;
    margin-bottom: 30px;
}

.creation-status {
    font-variant-caps: small-caps;
    font-size: 20px;
}

.language-selector {
    display:inline-block;
    p, input {
        display: inline-block;
    }
    p {
        margin-right: 3px;
    }
    input { 
        margin-right: 10px;
    }
}
.creation-error {
    color: red;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 30px;
}

.error-warning {
    color: red;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
}